<div [routerLink]="['/events', detail.id]" class="well hoverwell thumbnail">
  <h2>{{ detail?.name }}</h2>
  <div>Date: {{ detail?.date }}</div>
  <div [ngClass]="getStartTimeClass()" [ngSwitch]="detail?.time">
    Time:{{ detail?.time }}
    <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>
  <div>Price: ${{ detail?.price }}</div>
  <div *ngIf="detail?.location">
    <span>Location: {{ detail?.location?.address }}</span>
    <span>&nbsp;</span>
    <span class="pad-left"
      >{{ detail?.location?.city }} {{ detail?.location?.country }}</span
    >
  </div>
  <div *ngIf="detail?.onlineUrl">Online URL: {{ detail?.onlineUrl }}</div>
</div>
